<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="card" >
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs "  >
      <li class="nav-item" >
        <a class="nav-link "  [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/']">Home
        </a>
      </li>

      <li class="nav-item" >
        <a class="nav-link " routerLinkActive="active" [routerLink]="['/Upload']">Upload
        </a>
      </li>
      
      <li class="nav-item" >
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/files']">Files
        </a>
      </li>
    
    </ul>
  </div>
  <router-outlet></router-outlet>
  
  </div> </div>
      <div class="col-lg-3"></div>
    
  </div>
 </div>

  






    

